{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block cart %} {{totalitem}} {% endblock cart %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <!-- Side Bar for mobile filter -->
   <div class="list-group">
    <a href=" {% url 'BottomWear' %} " class="list-goup-item list-group-item-action"
        aria-current="true"> All Bottom Wear </a>
    <a href=" {% url 'BottomWearData' 'Spker' %} "class="list-goup-item list-group-item-action"aria-current="true"> Spker </a>
    <a href=" {% url 'BottomWearData' 'Lee' %}" class="list-goup-item list-group-item-action"> Lee </a>
    <a href=" {% url 'BottomWearData' 'below' %}" class="list-goup-item list-group-item-action"> below 500</a>
    <a href=" {% url 'BottomWearData' 'above' %}" class="list-goup-item list-group-item-action"> above 500</a>
   </div>
  </div>
  <div class="col-sm-8">
   <div class='row'>
    
    {% for product in BottomWear %}
        <div class='col-sm-4 text-center mb-4'> 
          <a href="{% url 'product-detail' product.id %}" class="btn"> 
            <div class="item">
              <img src=" {{product.Product_image.url}} " alt="" height=300 class=" ">
              <div class="fw-bold"> {{product.title}} </div>
              <div class="fw-bold">Rs. {{product.discounted_price}} 
                <small class="fw-light text-decoration-line-through"> {{product.selling_price}}
                </small></div>
            </div>
          </a>
        </div>
    {% endfor %}
        

   </div>
  </div>
 </div>
</div>
{% endblock main-content %}